{{- $github := .Get "github" }}
{{- $twitter := .Get "twitter" }}
{{- $facebook := .Get "facebook" }}
{{- $linkedin := .Get "linkedin" }}


{{- with $github }}
  <a href="https://github.com/{{ $github }}"  target="_blank">
      <img src="{{ "/img/common/GitHub-Mark-32px.png" | relURL }}"  width="24">
  </a>
{{- end }}

{{- with $twitter }}
  <a href="https://twitter.com/{{ $twitter }}"  target="_blank">
      <img src="{{ "/img/common/Twitter_Social_Icon_Circle_Color.png" | relURL }}"  width="24">
  </a>
{{- end }}

{{- with $facebook }}
  <a href="https://www.facebook.com/{{ $facebook }}"  target="_blank">
      <img src="{{ "/img/common/f_logo_RGB-Blue_58.png" | relURL }}"  width="24">
  </a>
{{- end }}

{{- with $linkedin }}
  <a href="https://www.linkedin.com/in/{{ $linkedin }}"  target="_blank">
      <img src="{{ "/img/common/LI-In-Bug.png" | relURL }}"  width="24">
  </a>
{{- end }}