{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
    <h1>Getting started</h1>
    <figure>
      <img alt="HAKONIWA logo" height="128" src="{{ "./img/hakoniwa/icon-310x310.png" | relURL }}" width="128">
    </figure>
    さあ箱庭をはじめましょう<br>
  </div>
  <div id="components">
    <div class="row gutters">
      {{ range .Data.Pages.ByWeight }}
      <div class="col col-4 item">
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p>{{ .Params.description }}</p>
      </div>
      {{ end }}

    </div>
  </div>
</div>
{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}