{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{ .Title }}</h1>
</div>
<ul id="posts">
<h5>
  {{ .Description }}
</h5>

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
 <!-- comment out to eliminate Pagenator (page number navigation)
  <section>{{ partial "pagination" .}}</section>
 -->
</ul>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
